body {
  background-color: #d4c2ac;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 24px;
  color: rgba(112, 98, 81, 0.9);
}

h2 {
  margin: 0 0 5px;
  font-size: 20px;
}

select {
  display: block;
  width: 100%;
  border: inset rgba(112, 98, 81, 0.7);
  background-color: #f4eded;
  color: #574c3f;
  font-weight: 600;
  font-size: 14px;
  border-radius: 4px;
  padding: 10px;
}

footer {
  text-align: center;
  font-size: 12px;
  color: #faf4ea;
}

footer a,
footer strong {
  color: rgba(87, 76, 63, 0.7);
  font-weight: 800;
  text-decoration: none;
}

footer a:hover,
footer strong:hover {
  color: rgba(87, 76, 63, 0.3);
  font-weight: 900;
  cursor: pointer;
  font-weight: 800;
  text-decoration: none;
}

.container {
  max-width: 300px;
  margin: 40px auto;
  background: #f4eded;
  padding: 20px;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  border-radius: 15px;
}

.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  color: #574c3f;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.city:last-child {
  border: none;
}
.date {
  color: rgba(87, 76, 63, 0.7);
  opacity: 0.8;
  font-size: 14px;
}
.time {
  margin-top: 10px;
  font-size: 28px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 16px;
}

.backlink {
  color: #faf4ea;
  text-decoration: none;
  font-weight: 500;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(112, 98, 81, 0.7);
  font-size: 16px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
